<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/vue.js"></script>
    <link href="/css/app.css" rel="stylesheet">
    <script src="/js/app.js"></script>
    <title>Сервис запись на прием к врачу</title>
</head>
<body>
    <div class="container" id="app">
        <!-- wellcome-to-service -->
        <div class="row pt-3" id="wellcome-to-service" v-if="state == 'wellcome-to-service'">
            <div class="col-12">
                <div class="card shadow-sm mb-4 ">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="py-4 border-bottom">Запись на приём к врачу</h2>
                                <p class="py-2"></p>
                                <p class="pt-4">Записать можно себя, ребёнка или другого человека.</p>
                                <p class="pt-2">Проверьте данные полиса ОМС, выберите поликлинику, врача, дату и время посещения. Информация о записи будет доступна в личном кабинете</p>
                                <p class="pt-2">Записаться можно к врачам из списка. Запись к профильному специалисту, на медицинское обследование или процедуру возможна по направлению, которое выдает терапевт или врач общей практики</p>
                                <p class="pt-2">Запись на приём к врачу доступна только в регионе прикрепления к поликлинике</p>
                                <p class="py-2"></p>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-primary" type="button" v-on:click="setScreenState('get-patient-data')">
                                        <span>Начать</span>
                                        <span>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- get-patient-data -->
        <div class="row pt-4" id="get-patient-data" v-if="state == 'get-patient-data'">
            <div class="col-12">
                <div class="row pb-4">
                    <div class="col-12" v-on:click="setScreenStateBack()">
                        <span class="pe-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </span>
                        <span ps-4>Назад</span>
                    </div>
                </div>
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <div class="row border-bottom pb-3">
                            <div class="col-12 text-primary">
                                <kbd class="px-2 bg-primary">1</kbd><span class="ps-2 fw-bold">Указать данные пациента</span>
                            </div>
                        </div>
                        <div class="btn-group d-flex pt-3" role="group" aria-label="Выберете кого записать">
                            <input type="radio" class="btn-check" name="forMeOrOther" id="forMe" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="forMe">Вызвать себе</label>
                          
                            <input type="radio" class="btn-check" name="forMeOrOther" id="forOther" autocomplete="off">
                            <label class="btn btn-outline-primary" for="forOther">Вызвать другому</label>
                        </div>
                        <div class="row pt-3">
                            <div class="col-12">
                                <label class="form-label">Фамилия</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-12">
                                <label class="form-label">Имя</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-12">
                                <label class="form-label">Отчество</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-12">
                                <label class="form-label">Дата рождения</label>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-check form-switch pt-3">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Пол: Женский</label>
                        </div>
                        <div class="row pt-2">
                            <div class="col-12">
                                <label class="form-label">СНИЛС</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-4">
                                <label class="form-label">Серия</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-8">
                                <label class="form-label">Номер полиса</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="border-bottom my-4"></div>

                        <div class="row">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="button">
                                    <span>Далее</span>
                                    <span>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- get-mo-info-extended -->

        
    </div>
    
</body>
</html>